<%- layout('/layouts/boilerplate') %>
<body>
  <div class="show-container row">
    <div class="show-heading col-8 offset-2">
      <h1 class="mt-2"><%= listing.title %></h1>
    </div>
    <div class="col-8 offset-2 show-img mb-3">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top show-img"
          alt="listing-image"
        />
    </div>
    <div class="col-8 offset-2 card-container">
        <div class="card-body">
          <p class="card-text mb-2"><%= listing.description %></p>
          <p class="card-tex mb-2">
            &#x20A8; <%= listing.price ? listing.price.toLocaleString("en-PK").concat(".00") : "Price not available" %>
          </p>
          <p class="card-text mb-2"><%= listing.location %></p>
          <p class="card-text mb-2"><%= listing.country %></p>
          <a class="btn btn-primary mb-4" href="/listings/<%= listing._id %>/edit"
            >Edit</a
          >
          <label for="delete-confirm-<%= listing._id %>" class="btn btn-outline-danger mb-4">Delete</label>
          <input id="delete-confirm-<%= listing._id %>" type="checkbox" class="delete-confirm-checkbox">
          <div class="modal">
            <div class="modal-content">
              <p class="mb-4">Are you sure you want to delete this listing?</p>
                <form action="/listings/<%= listing._id %>/delete?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-outline-danger mb-3">Yes, delete</button>
                </form>
                <label for="delete-confirm-<%= listing._id %>" class="btn btn-success">Cancel</label>
            </div>
          </div></input>
      </div>
    </div>
    <div class="col-8 offset-2">
      <hr>
      <h4 class="mb-3">We Need Your Reviews</h4>
      <form action="/listings/<%=listing._id%>/reviews" method="post" class="needs-validation" novalidate>
        <div class="mt-2 mb-2">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range">
        </div>
        <div class="mt-2 mb-2">
          <label for="comment" class="form-label">Comment</label>
          <textarea required id="comment" name="review[comment]" class="form-control" rows="5" placeholder="What do you wanna say ??"></textarea>
          <div class="invalid-feedback">Please add some comments to give review.</div>
        </div>
        <div class="mt-2 mb-3">
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-8 offset-2">
      <hr>
      <h4>All Reviews</h4>
      <% for(review of listing.review) { %>
        <ul>
          <li>
            <p>
              <%= review.comment %> &nbsp; <%= review.rating %> Stars
            </p>
          </li>
        </ul>
      <% } %>
    </div>
  </div>
</body>
